@import 'tailwindcss';
@import '@happi/ui/styles.css';
@import '@happi/fonts/fonts.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--happi-background);
  color: var(--happi-foreground);
  font-family: var(--happi-font-body);
}
